<style type="text/css">
    .lg {
        background: url(assets/images/bg2.jpg) no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
</style>
<div class="lg">
    <section class="body-sign">
        <div class="center-sign">
            <div class="panel panel-sign">
                <div class="panel-body">
                        <img src="assets/images/4gnow_logo.png" width="100%"/><br><br>
                    <div class="alert alert-danger" ng-show="FormError">
                        <strong>Ops!</strong> Credenciais incorretas.
                    </div>    
                    <hr>                
                    <a class="widget-summary" href="https://play.google.com/store/apps/details?id=com.evozi.injector" target="_blank">
                        <div class="widget-summary-col widget-summary-col-icon">
                            <div class="summary-icon bg-primary">
                                <i class="fa fa-android"></i>
                            </div>
                        </div>
                        <div class="widget-summary-col">
                            <div class="summary">
                                <h4 class="title">Aplicativo</h4>
                                <div class="info">
                                    <strong class="amount">HTTP Injector</strong>
                                </div>
                                    <strong class="">Clique para baixar</strong>
                            </div>
                        </div>
                    </a>
                    <hr>              
                    <a class="widget-summary" href="../ehi/{{data}}/{{data}}-vivo.ehi" target="_blank" download>
                        <div class="widget-summary-col widget-summary-col-icon">
                            <div class="summary-icon bg-quartenary">
                                <i class="fa fa-user"></i>
                            </div>
                        </div>
                        <div class="widget-summary-col">
                            <div class="summary">
                                <h4 class="title">Arquivo</h4>
                                <div class="info">
                                    <strong class="amount">Vivo</strong>
                                </div>
                                    <strong class="">Clique para baixar</strong>
                            </div>
                        </div>
                    </a>
                    <hr>
                </div>
            </div>
        </div>
    </section>
</div>